<% include partials/header %>

<br>
<br>
<h1>Blog post</h1>

<% posts.forEach(el => { %>
    <div>
        <h2> <%= el.title %> </h2>
        <img src="<%= el.image %>" alt="">
        <br>
        <span> <%= el.created %> </span>
        <p> <%= el.body.substring(0, 100) %> </p>
        <a href="/blogs/<%= el._id %>">Read more</a>
    </div>
<% }); %>

<% include partials/footer %>